.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


*{
  box-sizing: border-box;
  font-size:15px;

}
#weather_heading{
  font-size: 1.75rem;
  padding:1em;
}

.container{
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  align-items: center;
  /* padding:25px; */
  background-color: antiquewhite;
  background-image: url('./images/bg-image.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height:100vh;
}
.input{
  /* border:solid 2px black; */
  width:50%;
  margin:0 auto;
  border-style:none;
  border-radius: 8px;
  height:4vh;
  font-size:1rem;
  padding:1em;
 
}
.input:focus{
  outline:none;
}

.weatherDataContianer{
  display:flex;
  border:solid 10px lightskyblue;
  border-radius:6px;
  width:80%;
  justify-content: space-between;
  margin:2em;
  height:40%;
  padding:1rem;
  background-color: rgb(204, 221, 255);
  
}
.eachDay{
  display:flex;
  flex-direction: column;
  /* border:2px solid blue; */
  height:100%;
  justify-content: space-between;
  font-size:1rem;
}

.temperature{
  display: flex;
}
.temp_max{
  color:black;
}
.temp_min{
  color:grey;
}

@media screen and (max-width:576px){
  #weather_heading{
    font-size: 1.5rem;
    padding:1em;
  }
  
  .container{
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    background-image: url('./images/bg-image.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:100vh;
    width:100vw;
    margin:0 auto;
   
  }
  .input{
    /* border:solid 2px black; */
    width:50%;
    margin:0 auto;
    border-style:none;
    border-radius: 8px;
    height:4vh;
    font-size: 1rem;;
    padding:1em;
  }
  .input:focus{
    outline:none;
  }
  
  .weatherDataContianer{
    display:flex;
    border:solid 10px lightskyblue;
    flex-wrap: wrap;
    font-size:2rem;
    border-radius:1em;
    width:80%;
    justify-content: space-between;
    height:80%;
    padding:.5em;
    margin:.5em;
    background-color: rgb(204, 221, 255);
  }
  .eachDay{
    display:flex;
    flex-direction: column;
    height:32%;
    width:50%;
    align-items:center;
    text-align: center;
    justify-content: space-evenly;
    padding:.50em;
    font-size:.75rem;
    border:solid 4px darkblue;
    border-radius: 1.5em;
  }
  
  .temperature{
    display: flex;
  }
  .temp_max{
    color:black;
  }
  .temp_min{
    color:grey;
  }
}

/*loader */

.loader {
  border: 16px solid #587fb5; 
  /* Light grey */
  border-top: 16px solid #92aaba; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}